[Desktop Entry]
Type=Application
Name=HARDN Monitor
Comment=View HARDN monitoring output 
Exec=hardn-gui
Icon=/usr/share/pixmaps/hardn-gui.jpeg
Terminal=false
Categories=System;Security;
Keywords=HARDN;Security;Monitoring;Logs;
StartupNotify=true
