name: Black

on:
  push:
    branches: ['main','gui']
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  actions: read

jobs:
  format-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: '3.12'

      - name: Install Black
        run: pip install black

      - name: Run Black Formatter
        run: black .

      - name: Commit formatted code
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git diff --cached --quiet || git commit -m "Autoformat Python code with Black [${{ github.sha }}]"
          git push
