name: Black

on:
  push:
    branches: ['main','gui']
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  actions: read

jobs:
  format-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: '3.12'

      - name: Install Black
        run: pip install black

      - name: Run Black Formatter
        run: black .

      - name: Commit formatted code
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git diff --cached --quiet || git commit -m "Autoformat Python code with Black [${{ github.sha }}]"
          git push
